@import "../../app.scss";
.home {
  display: flex;
  @include themify($themes) {
    .homeContanier {
      background-color: themed("bg");
      flex: 7;

      .homeWrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

        .hcard {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          
        }

        .skeleton {
          display: flex;
          align-items: center;
          justify-content: center;
          
          h1{
            font-size: 200px;
            color: rgba(0, 0, 0, 0.212);
          }
        }
      }
    }
  }
}
