@import "../../app.scss";
.navbar {
  @include themify($themes) {
    position: sticky;
    top: 0;
    height: 56px;
    background-color: themed("bgSoft");
    border-bottom: 0.5px solid themed("border");
    .navWrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 20px;
      justify-content: flex-end;
      position: relative;
      .search {
        display: flex;
        align-items: center;
        position: absolute;
        width: 40%;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px solid themed("border");
        padding: 5px;
        border-radius: 5px;
        justify-content: space-between;
        color: themed("textColor");
        input {
          background-color: transparent;
          outline: none;
          border: none;
          width: 90%;
          color: themed("textColor");
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .userp {
          display: flex;
          align-items: center;
          gap: 10px;
          color: themed("textColorSoft");

          .logout{
            color: themed('textColor');
            background-color: red;
            border: none;
          }

          .popup{
            cursor: pointer;
            color: themed('textColor');
          }
          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }

          span {
            text-transform: capitalize;
            font-weight: 500;
          }
        }
        img {
          height: 18px;
          cursor: pointer;
        }
        button {
          padding: 5px 15px;
          background-color: transparent;
          border: 1px solid blue;
          cursor: pointer;
          color: blue;
          border-radius: 3px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
